@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400);
body {
    margin: 0%;
    background-color: #111;
}
.wrapper {
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.header {
    width: 100%;
    background-color: rgba(10%, 10%, 10%, 0.8);
    min-height: 100%;
    text-align: center;
}
.header > h1 {
    font-family: 'Raleway';
    color: #fff;
    margin: 5%;
    margin-bottom: 2%;
    margin-top: 0%;
}
.header > h1 > small {
    font-size: 50%;
}
.header > h1 > sup > #beta {
    font-size: 60%;
    background-color: #fff;
    color: #156;
    width: 100%;
    border-radius: 10%;
}
.header > h1 > span{
    font-size: 60%;
}
.header > #imageatr {
    text-align: center;
}
.header > #imageatr > img {
    width: 20%;
    margin-bottom: 0%;
    margin-left: 5%;
    background-color: rgba(10%, 10%, 10%, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0%, 0%, 0%, 0.9);
}
.navbar {
    width: 100%;
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(7, 7, 7, 0.99);;
    font-family: 'Raleway';
}
li {
    float: left;
}
li:hover {
    background-color: #058;
}
li > a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}
.flogolink {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-transform: lowercase;
    font-family: 'Amatic SC';
}
#togglemenu {
    display: none;
}
#togglemenu > #menubutton {
    text-align: right;
}
#togglemenu:hover {
    background-color: rgba(7, 7, 7, 0.99);;
}
#menubutton {
    font-size: 200%;
    margin: 0%;
}
#menubutton > small {
    font-size: 100%;
}

#flogo {
    display: none;
    background-color: rgba(7, 7, 7, 0.99);;
}
.content1 {
    overflow-x: auto;
    min-width: 100%;
    background-color: #236;;
    color: #fff;
    background-attachment: fixed;
    min-height: 80vh;
    height: 120%;
    text-align: center;
}
.foot {
    width: 100%;
    background-color: #111;
    color: #fff;
    text-align: center;
    font-family: 'Raleway';
    height: 120%;
}
.foot > h1 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.foot > p {
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}
.heart {
    color: #f30;
    font-family: serif;
    font-size: 120%;
}
table {
    display: inline-table;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    font-size: 90%;
    font-family: 'Raleway';
}
tr:nth-child(odd) {
    background-color: #222;
}
tr:nth-child(even) {
    background-color: #f1f1f1;
    color: #000;
}
th {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
td {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
.triangle {
    font-size: 300%;
}
.not_inverted {
    transform: rotateX(0deg);
    color: green;
}
.inverted {
    transform: rotateX(180deg);
    color: red;
}
