body {
    font-family: 'Raleway';
    margin: 8%;
    color: #eee;
    background-color: #111;
    font-size: 0.8em;
}
th, td {
    padding: 30px;
    text-align: left;
}
p {
    font-family: monospace;
}
img {
    height: 15vh;
}
ul {
    list-style-type: none;
}
li {
    font-size: 1.2rem;
    display: flex;
    padding: 20px;
    margin: 2%;
    margin-left: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px black;
    color: #fff;
    width: 50%;
    border-radius: 0.7em;
}
li:hover {
    color: #eee;
    background-color: rgba(70, 70, 70, 0.7);
    box-shadow: 0 0 8px #457;
}
a.btn {
    color: #fff;
    text-decoration: none;
}
a.btn:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
    color: #ccc;
}
small {
    line-height: 1.5em;
}
iframe {
    width: 80vw;
    height: 90vh;
    max-width: 900px;
    margin: 2%;
}
textarea {
    width: 50vw;
    height: 5vh;
    font-family: 'Raleway';
    margin: 2%;
    text-align: center;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    border-bottom: white solid 0.5px;
}
textarea:focus {
    font-family: 'Raleway';
}
button {
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    font-family: 'Raleway';
    font-size: 1.1em;
    border-radius: 2em;
    padding: 0.5em;
    box-shadow: 0 0 2.5px #eee;
}
button:hover {
    color: #eee;
    background-color: rgba(70, 70, 70, 0.7);
}
input[type=number] {
    font-size: 1.2em;
    text-align: center;
    margin: 2%;
    font-family: 'Raleway';
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    border-bottom: white solid 0.5px;
}
input[type=radio] {
    margin-right: 2.5%;
    background-color: rgba(0, 0, 0, 0);
}
select {
    font-size: 1.2em;
    margin: 2%;
    font-family: 'Raleway';
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}
table {
    display: flex;
    max-width: 80vw;
    margin: 2%;
}
table.newsr td {
    display: block;
    padding: 0;
}
table.newsr td.time {
    text-decoration: underline;
}
table.newsr td.content {
    font-size: 1.3em;
}
table.newsr td.button {
    padding: 1em;
}
table.newsr tr {
    margin: 5%;
    display: block;
    border-bottom: 0.3px dashed #999;
}