@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400);
/*@import url('https://fonts.googleapis.com/css?family=Droid+Sans');*/

body {
    margin: 0%;
    background-color: #111;
}
.wrapper {
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.header {
    width: 100%;
    background-color: rgba(10%, 10%, 10%, 0.8);
    min-height: 100%;
    text-align: center;
}
.header > h1 {
    font-family: 'Raleway';
    color: #fff;
    margin: 5%;
    margin-bottom: 0%;
    margin-top: 0%;
}
.header > h1 > small {
    font-size: 50%;
}
.header > h1 > sup > #beta {
    font-size: 60%;
    background-color: #fff;
    color: #156;
    width: 100%;
    border-radius: 10%;
}
.header > h1 > span{
    font-size: 60%;
}
.header > #imageatr {
    text-align: center;
}
.header > #imageatr > img {
    width: 5%;
    margin-bottom: 0%;
    margin-left: 0%;
    background-color: rgba(10%, 10%, 10%, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0%, 0%, 0%, 0.9);
}
.navbar {
    width: 100%;
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    font-family: 'Raleway';
}
.navbar li {
    float: left;
}
.navbar li:hover {
    background-color: #058;
}
.navbar li > a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}
.flogolink {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-transform: lowercase;
    font-family: 'Amatic SC';
}
#togglemenu {
    display: none;
}
#togglemenu > #menubutton {
    text-align: left;
    float: left;
}
#togglemenu:hover {
    background-color: #222;
}
#menubutton {
    font-size: 200%;
    margin: 0%;
}
#menubutton > small {
    font-size: 100%;
}

#flogo {
    display: none;
    background-color: #222;
}
.content1 {
    overflow-x: auto;
    min-width: 100%;
    background-color: #fff;
    color: #000;
    background-attachment: fixed;
    min-height: 100vh;
    height: 120%;
    text-align: center;
}
.foot {
    width: 100%;
    background-color: #111;
    color: #fff;
    text-align: center;
    font-family: 'Raleway';
    height: 120%;
}
.foot > h1 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.foot > p {
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}
.foot a {
    color: inherit;
}
.foot a:hover {
    color: #ccc;
}
.heart {
    color: #f30;
    font-family: serif;
    font-size: 120%;
}
.content1 div#stocks {
    font-family: 'Raleway';
    color: #000;
}
.content1 table {
    display: inline-table;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3vw;
    margin-right: 0;
    font-size: 120%;
    font-family: 'Raleway';
}
.content1 tr {
	display: inline-flex;
    background-color: #fff;
    color: #000;
    border: 1px dashed black;
    margin: 0.1%;
}
.content1 th {
    display: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.content1 td {
    overflow: hidden;
	display: block;
	font-size: 130%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.content1 td a {
    color: inherit;
}
.content1 td.loss {
    color: red;
}
.content1 td.gain {
    color: green;
}
.content1 td.sector {
    display: none;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
	font-size: 130%;
	text-align: center;
	font-family: 'Raleway';
}
.triangle {
    font-size: 150%;
}
.not_inverted {
    color: green;
}
.inverted {
    color: red;
}
.content1 h1 {
    font-family: 'Amatic SC';
    font-size: 300%;
    text-decoration: underline;
}
.content1 p {
    font-family: 'Raleway';
    margin: 5%;
}
.content1 ul {
    margin-left: 0%;
    margin-right: 5%;
}
.content1 li {
    font-family: 'Raleway';
    margin: 5%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: 120%;
    margin-bottom: 2%;
}
canvas.chart {
    display: block;
    max-height: 600px;
    max-width: 600px;
}
pre.sector {
    margin-left: 5%;
    display: block;
    margin-right: 5%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1%;
    font-family: 'Raleway';
}
table#news {
    max-width: 700px;
}
table#news th {
	display: none;
}
table#news tr {
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
table#news td:nth-child(odd) {
	display: flex;
	text-align: left;
	font-size: 70%;
}
table#news td:nth-child(even) {
	text-align: left;
	display: flex;
	font-size: 100%;
	padding: 4%;
}
.persector.Banking {
    color: darkcyan;
}
.persector.Pharma {
    color: chocolate;
}
.persector.Aviation {
    color: black;
}
.persector.Information.Technology {
    color: purple;
}
.persector.Fast.Moving.Consumer.Goods {
    color: blue;
}
.persector.Engineering.and.Construction {
    color: brown;
}
.persector.Telecom {
    color: darkgoldenrod;
}
.persector.Automotive {
    color: maroon;
}
.persector.Cement {
    color: darkblue;
}
.persector.Oil.and.Gas {
    color: darkviolet;
}
.highlight {
    color: #000;
    background-color: yellow;
}
div#hidden {
    display: none;
}
table tr td a {
    pointer-events: none;
    text-decoration: none;
    cursor: default;
}
div.overlay {
    font-family: 'Raleway';
    top: 0;
	font-size: 3.1vh;
    height: 100%;
	background-color: rgba(0,0,0,0.7);
    position: fixed;
	color: #fff;
    width: 3vw;
}
div.overlay.left {
    float: left;
    left: 0;
}
div.overlay.right {
    float: right;
	right: 0;
	display: none;
}
